# Dependencies
node_modules/
*/node_modules/

# Build
dist/
*/dist/

# Environment
.env
*/.env
backend/.env
backend/.env.development
backend/.env.production

frontend/.env
frontend/.env.development
frontend/.env.production

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Markdown (README.md 제외)
*.md
**/*.md
!README.md
!**/README.md


*/pakage-lock.json


# ai-server
ai-server/venv/
ai-server/OsteoAge_Model/Model9_ROI/*.pth
ai-server/__pycache__/
ai-server/*.pyc
